.signup,
.login,
.publish {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10vh auto 6vh;
}

.login form,
.signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 40vw;
}
.signup h1,
.login h1,
.publish h1 {
    margin: 5vh auto;
    text-align: center;
}

.login form a {
    text-decoration: underline;
}

form input,
form input {
    border: 1px solid #d1d4dd;
}

form .custom-file-upload {
    width: 65%;
    padding: 1.5vh;
    border: 1px solid #d1d4dd;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 400px;
    max-height: 400px;
    position: relative;
}
form .custom-file-upload img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: -1px;
}

form input[type='text'],
form input[type='email'],
form input[type='Number'],
form input[type='password'],
form input[type='phone'] {
    height: 40px;
    width: 65%;
    font-family: 'lato';
    font-size: 12px;
    padding-left: 18px;
}
form .checkbox {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
form .checkbox label {
    width: calc(100% - 15%);
}
form .checkbox input[type='checkbox'] {
    text-align: left;
}

form input[type='submit'] {
    font-family: 'lato';
    background-color: black;
    color: white;
    width: 40%;
    height: 40px;
    margin-top: 40px;
}
form .signup-error-message {
    color: red;
}

form .highlight {
    text-decoration: underline;
}

@media screen and (max-width: 1300px) {
    form {
        width: 50vw;
    }
}

@media screen and (max-width: 1100px) {
    form {
        width: 60vw;
    }
}

@media screen and (max-width: 800px) {
    form {
        width: 75vw;
    }
}
@media screen and (max-width: 600px) {
    form {
        width: 90vw;
    }
}

@media screen and (max-width: 500px) {
    form {
        width: 100vw;
    }
}
