header {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: white;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
header nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
nav .hidden-menu {
    display: none;
}

nav .visible-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav .visible-menu .menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav .buttons {
    display: flex;
    align-items: center;
}
nav .buttons div {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}
nav .buttons a {
    cursor: pointer;
    height: 30px;
    max-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav .buttons a::before {
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: bottom left;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

nav .buttons a:hover::before {
    background-color: lightgray;
    transform: scaleX(1);
    transform-origin: bottom right;
}
nav .basket-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav .basket-value {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: 3px;
}

.icone {
    display: flex;
    align-items: center;
}
.icone input[type='search'] {
    padding-left: 10px;
    margin-right: 5px;
    height: 40px;
    border: 1px solid lightgray;
}

@media screen and (max-width: 1000px) {
    nav .visible-menu {
        display: none;
    }
    header nav .hidden-menu {
        display: block;
        width: 100%;
        height: 100%;
    }
    .burger {
        display: block;
        width: 42px;
        height: 24px;
        cursor: pointer;
        position: relative;
    }
    .burger span {
        width: 100%;
        height: 4px;
        background-color: black;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 0.5s ease-in-out;
    }
    .burger span::before,
    .burger span::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: black;
        transition: transform 0.5s ease-in-out;
    }
    .burger span::before {
        transform: translateY(-10px);
    }
    .burger span::after {
        transform: translateY(10px);
    }

    .hidden-menu svg {
        font-size: 1.5em;
        margin-right: 10px;
        cursor: pointer;
    }
}
