header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
}
header nav {
    width: 100%;
    position: relative;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .buttons {
    display: flex;
    gap: 10px;
}
header .buttons a {
    cursor: pointer;
    height: 30px;
    width: 150px;
    border: 1px solid #0ab1ba;
    display: flex;
    justify-content: center;
    align-items: center;
}
header a:last-child {
    background-color: #0ab1ba;
}

header .buttons a:first-child li {
    color: #0ab1ba;
}
header .buttons a:last-child li {
    background-color: #0ab1ba;
    color: white;
}

@media screen and (max-width: 500px) {
    .logo {
        position: relative;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img {
        width: 30vw;
        height: 40px;
    }
    .buttons {
        display: none;
    }
}
