.bg-image {
    margin: 50px auto 20px;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-image img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.box-image {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
