.product-content {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 100px;
}

.left-product-col {
    width: 40%;
    min-width: 25vw;
    height: 100%;
}
.left-product-col img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.right-product-col {
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.right-product-col .head-product {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right-product-col p {
    max-width: 620px;
    text-align: justify;
}
.right-product-col button {
    width: 95px;
    height: 50px;
    background-color: white;
    border: 1px solid lightgray;
}

.right-product-col .basket-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.right-product-col .white-button {
    min-height: 40px;
}

.right-product-col .basket-product .buttons {
    width: 95px;
    height: 50px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right-product-col .basket-product button {
    background-color: black;
    color: white;
    width: calc(100% - 15px - 95px);
    border: none;
}
.right-product-col .basket-product .buttons button {
    border: none;
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    min-height: 40px;
}
.right-product-col .go-to-basket {
    width: 100%;
    height: 50px;
}
.right-product-col .go-to-basket button {
    border: none;
    height: 100%;
    background-color: black;
    color: white;
    margin-left: 110px;
    width: calc(100% - 15px - 95px);
    min-height: 50px;
}

@media screen and (max-width: 800px) {
    .product-content {
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin: 20px auto;
    }
    .left-product-col {
        width: 100%;
        height: 40vh;
    }
    .left-product-col img {
        object-fit: contain;
    }
    .right-product-col {
        width: 80vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}

@media screen and (max-width: 500px) {
    .right-product-col .head-product {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
