.signup,
.login {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vh auto 6vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 30%;
}
.signup h1,
.login h1 {
    margin: 40px auto;
}

form input,
form input {
    width: 65%;
    height: 40px;
    border: 1px solid #d1d4dd;
}

form input[type='text'],
form input[type='email'],
form input[type='password'],
form input[type='phone'] {
    font-family: 'lato';
    font-size: 12px;
    padding-left: 18px;
}
form .checkbox {
    width: 65%;
    display: flex;
    align-items: center;
    gap: 20px;
}
form .checkbox input[type='checkbox'] {
    width: auto;
}

form input[type='submit'] {
    font-family: 'lato';
    background-color: black;
    color: white;
    width: 40%;
    margin-top: 40px;
}
.signup-error-message {
    color: red;
}

@media screen and (max-width: 1300px) {
    form {
        width: 40vw;
    }
}

@media screen and (max-width: 1100px) {
    form {
        width: 50vw;
    }
}

@media screen and (max-width: 800px) {
    form {
        width: 65vw;
    }
}
@media screen and (max-width: 600px) {
    form {
        width: 70vw;
    }
}

@media screen and (max-width: 500px) {
    form {
        width: 80vw;
    }
}
