@import './assets/style/loader.css';
@import './assets//style/header.css';
@import './assets/style/offers.css';
@import './assets/style/offer.css';
@import './assets/style/signup.css';
@import './assets/style/homepage.css';
@import './assets/style/slider.css';
@import './assets/style/stores.css';
@import './assets/style/brand.css';

footer {
    text-align: center;
    margin-top: 10vh;
    width: 100%;
    background-color: #f3f1ec;
}
