@import './assets/style/loader.css';
@import './assets//style/header.css';
@import './assets/style/offers.css';
@import './assets/style/offer.css';
@import './assets/style/signup.css';
@import './assets/style/homepage.css';

footer {
    text-align: center;
    margin-top: 10vh;
    height: 2vh;
}
