@import './assets//style/header.css';
@import './assets/style/home.css';
@import './assets/style/offer.css';

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
