@import './assets/style/loader.css';
@import './assets//style/header.css';
@import './assets/style/offers.css';
@import './assets/style/offer.css';
@import './assets/style/form.css';
@import './assets/style/homepage.css';
@import './assets/style/slider.css';
@import './assets/style/stores.css';
@import './assets/style/brand.css';
@import './assets/style/footer.css';
