* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 12px;
    width: 100vw;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: calc(100vw - (350px * 2));
    margin: 0 auto;
}
.wrapper::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #f1f3f4;
    top: 50px;
    left: 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

li {
    list-style: none;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
}

h4 {
    margin-bottom: 10px;
}

input:focus {
    outline: none;
    border: 1px solid black;
}

@media screen and (max-width: 1500px) {
    .wrapper {
        width: calc(100vw - (180px * 2));
        margin: 0 auto;
    }
}

@media screen and (max-width: 1350px) {
    .wrapper {
        width: calc(100vw - (90px * 2));
        margin: 0 auto;
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        width: 100vw;
        padding: 2vw;
    }
}
