* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 12px;
    width: 100vw;
}

.wrapper {
    width: calc(100% - (350px * 2));
    margin: 0 auto;
}
.wrapper::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #f1f3f4;
    top: 50px;
    left: 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

li {
    list-style: none;
}
